@import '../../assets/scss/_variables.scss';
@import '../../assets/scss/_mixins.scss';
$primary-color: #051a38;
$overlay-gradient: linear-gradient(270deg, rgba(0, 0, 0, 0) 28.65%, rgba(0, 0, 0, 0.84) 63.7%, #000000 76.31%);
$title-gradient: linear-gradient(268.43deg, #FDEEC3 3.58%, #EFDCAC 49.93%, #DCC29E 98.97%);

@mixin flex-column-start-gap($gap: 10px) {
  @include flex(column, null, flex-start);
  gap: $gap;
}

@mixin full-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgroundlay {
  @include full-absolute;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  @include full-absolute;
  background: $overlay-gradient;
  background-size: cover;
}

.brand {
  margin-top: 110px;
  margin-left: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  @include flex-column-start-gap(0);
  .logo {
    width: 80px;
    height: 67px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .title-container {
    width: 100%;
    max-width: 400px;
    @include flex-column-start-gap(10px);
    h1, h1 span {
      font-family: $font-family;
      font-size: 36px;
      font-weight: 500;
      line-height: 50px;
      text-align: left;
      margin: 0;
    }
    h1 {
      color: #ffffff;
      span {
        background: $title-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      font-family: $font-family;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #fff;
      margin: 0;
    }
    button {
      width: 200px;
      height: 50px;
      padding: 8px 12px;
      margin-top: 10px;
      background: $title-gradient;
      border: none;
      border-radius: 0;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      &:hover {
        color: #000;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .backgroundlay {
    left: 20%;
    width: calc(100% - 20%);
  }

  .brand {
    margin-top: 109px;
    margin-left: 100px;
    
    .logo {
      width: 100px;
      height: 84px;
      margin-bottom: 30px;
    }

    .title-container {
      width: 100%;
      max-width: 500px;

      h1, h1 span {
        font-size: 48px;
        line-height: 70px;
      }

      p {
        font-size: 20px;
        line-height: 30px;
      }

      button {
        width: 240px;
        height: 60px;
        padding: 10px 14px;
        margin-top: 15px;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .backgroundlay {
    left: 25%;
    width: calc(100% - 25%);
  }

  .brand {
    margin-top: 109px;
    margin-left: 130px;
    
    .logo {
      width: 116px;
      height: 98px;
      margin-bottom: 46px;
    }

    .title-container {
      width: 574px;
      max-width: 574px;

      h1, h1 span {
        font-size: 58px;
        line-height: 80px;
      }

      p {
        font-size: 24px;
        line-height: 36px;
      }

      button {
        width: 272px;
        height: 67px;
        padding: 12px 16px;
        margin-top: 20px;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

