@import '../../assets/scss/_mixins.scss';
$font-family: 'Newsreader';
$primary-color: #051a38;
$secondary-color: #8c8c8c;
$background-color: #181818;
$title-gradient: linear-gradient(268.43deg, #FDEEC3 3.58%, #EFDCAC 49.93%, #DCC29E 98.97%);

@mixin flex-column-center-gap($gap: 10px) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $gap;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.wine-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  display: flex;
  padding: 20px 70px 150px 70px;
  flex-direction: column;
  gap: 40px;
}

.back {
  display: flex;
  align-items: center;
  gap: 13px;
  p {
    margin: 0;
    font-weight: 400;
    &:nth-child(1) {
      font-family: $font-family;
      font-size: 16px;
      line-height: 26px;
      color: $secondary-color;
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    &:nth-child(2) {
      font-family: Inter;
      font-size: 14px;
      line-height: 22px;
      color: $secondary-color;
    }
    &:nth-child(3) {
      font-family: Merriweather;
      font-size: 16px;
      line-height: 26px;
      color: #fff;
    }
  }
}

.wine-infor {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.img-container {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img {
    width: auto;
    height: 80%;
    object-fit: cover;
  }
}

.information {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 34px;
  justify-content: flex-end;
  align-content: flex-end;
}

.infor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3, p {
    margin: 0;
    font-family: $font-family;
    font-weight: 400;
    text-align: left;
  }
  h3 {
    font-size: 30px;
    line-height: 38px;
    color: #fff;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    color: #fafafa;
  }
}

.select-container {
  display: flex;
  flex-direction: column;
  .select-row {
    height: 50px;
    padding: 0 16px;
    display: flex;
    align-items: center;
  }
  .error {
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #9c0101;
  }
}

.select-quantity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.type {
  margin-left: 26px;
  width: 170px;
  @include flex(row, flex-start, center);
  span {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #fff;
  }
}

.price,
.real-price {
  width: 70px;
  margin: 0;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.price {
  text-align: left;
}
.real-price {
  text-align: right;
}

.checked-text {
  color: #fff;
}
.checked-backfround {
  background-color: $background-color;
}

.unchecked-text {
  color: $secondary-color;
}

.btn-change {
  display: flex;
  align-items: center;
  button {
    width: 26px;
    height: 26px;
    border-radius: 2px;
    padding: 0;
    background: transparent;
  }
  input {
    width: 37px;
    height: 37px;
    text-align: center;
    background: transparent;
    border: none;
    font-family: $font-family;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    &:focus-visible {
      outline: none;
    }
  }
}

.btn-disable {
  border: 1px solid $secondary-color;
  color: $secondary-color;
  cursor: not-allowed;
}
.btn-active {
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.add-cart {
  width: 100%;
  height: 52px;
  button {
    width: 100%;
    height: 100%;
    border: none;
    background: $title-gradient;
    font-family: $font-family;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  h3 {
    margin: 0;
    font-family: $font-family;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: #fff;
  }
  .detail {
    height: 58px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid #595959;
    .detail-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      span {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #fff;
      }
    }
    .detail-content:nth-child(-n+4) {
      border-right: 1px solid #595959;
    }
  }
  p {
    margin: 0;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #fff;
  }
}

.similar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    margin: 0;
    font-family: $font-family;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: #fff;
  }
  .list-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 48px;
  }
}

@media screen and (min-width: 1366px) {
  .wine-container {
    > img {
      height: 100%;
    }
  }
  .similar {
    .list-items {
      grid-template-columns: repeat(4, 1fr);
      gap: 0 30px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .img-container {
    width: 335px;
    height: 488px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .information {
    gap: 40px;
  }
  .select-row {
    height: 69px;
  }
  .price {
    text-align: left;
  }
  .real-price {
    text-align: left;
  }
  .similar {
    .list-items {
      gap: 0 48px;
    }
  }
}

