$font-family: 'Newsreader';
$primary-color: #051a38;
$secondary-color: #e8b357;
$overlay-gradient: linear-gradient(270deg, rgba(0, 0, 0, 0) 28.65%, rgba(0, 0, 0, 0.84) 63.7%, #000000 76.31%);

@mixin full-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center-column-gap($gap: 20px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgroundlay {
  @include full-absolute;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  @include full-absolute;
  background: $overlay-gradient;
  background-size: cover;
}

.login-container {
  @include center-absolute;
  z-index: 30;
  width: 80%;
  max-width: 500px;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 18px;

  .member {
    width: 100%;
    @include flex-center-column-gap(0);

    p {
      font-family: $font-family;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 32px;
      span {
        color: $secondary-color;
      }
    }

    .member-id {
      width: 100%;
      height: 44px;
      background: #f7f7f7;
      padding: 11px 16px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 12px;

      input {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        &:placeholder {
          font-family: $font-family;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
        }
      }
    }
  }
}

.member button,
.guest button {
  width: 100%;
  height: 44px;
  border-radius: 0;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.member button {
  background: $primary-color;
  color: #fff;
  border: none;
  &:hover,
  &:focus-visible {
    color: #fff;
    border: none;
  }
}

.guest button {
  background: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  &:hover,
  &:focus-visible {
    color: $primary-color;
    border-color: $primary-color;
  }
}

.guest {
  width: 100%;
  @include flex-center-column-gap;

  .register {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-family: $font-family;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      color: #7b7b7b;
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .backgroundlay {
    left: 20%;
    width: calc(100% - 20%);
  }
  .login-container {
    width: 480px;
    max-width: 480px;
    height: auto;
    padding: 40px;
    gap: 24px;

    .member {
      p {
        font-size: 22px;
      }
      .member-id {
        height: 50px;
        input {
          line-height: 26px;
          &:placeholder {
            line-height: 26px;
          }
        }
      }
    }
  }
  .member button,
  .guest button {
    height: 48px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .backgroundlay {
    left: 25%;
    width: calc(100% - 25%);
  }
  .login-container {
    width: 552px;
    max-width: 552px;
    height: 491px;
    padding: 54px;
    gap: 24px;

    .member {
      p {
        font-size: 24px;
      }
      .member-id {
        height: 62px;
        input {
          line-height: 26px;
          &:placeholder {
            line-height: 26px;
          }
        }
      }
    }
  }
  .member button,
  .guest button {
    height: 52px;
    font-size: 20px;
  }
  .guest {
    gap: 30px;

    .register {
      p {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
