.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgroundlay {
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: calc(100% - 25%);
  background-image: image-set("../../assets/image/onboard.png");
  background-size: cover;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 28.65%, rgba(0, 0, 0, 0.84) 63.7%, #000000 76.31%);
  background-size: cover;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  width: 552px;
  height: 491px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 54px;
  gap: 24px;
  .member {
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
      font-family: Newsreader;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 32px;
    }
    .member-id {
      width: 100%;
      height: 62px;
      background: #f7f7f7;
      padding: 11px 16px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 12px;
      input {
        font-family: Newsreader;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        &:placeholder {
          font-family: Newsreader;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: left;
        }
      }
    }
  }
}

.member button,
.guest button {
  width: 444px;
  height: 52px;
  border-radius: 0;
  font-family: Newsreader;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  &:hover, &:focus-visible {
    outline: none;
  }
}
.member button {
  background: #051a38;
  color: #fff;
  &:hover, &:focus-visible {
    color: #fff;
  }
}
.guest button {
  background: transparent;
  color: #051a38;
  &:hover, &:focus-visible {
    color: #051a38;
  }
}

.guest {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .register {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-family: Newsreader;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      color: #7b7b7b;
      margin: 0;
    }
  }
}

